
#sideBar{
    /* border: solid red; */
    position: absolute;
    right: 0em;
    height: 100vh;
    width: 17em;
    z-index: 1;
    opacity: 0.9;
    background-color: white;
} 
.item {
    display: block;
    padding: 0.6em;
    margin-left: -0.5em;
    text-align: left;
    font-size: 2.5em;
    color: black;
}

#clearIconBtn {
    z-index: 1;
    position: relative;
    top: 20em;
    left: 5em;
}
#clearIcon {
    width: 4em;
}